.card-container {
  display: flex;
  flex-wrap: wrap;
  z-index: -2;
}

.card-container a {
  text-decoration: none;
}

.card {
  position: relative;
  width: 290px;
  height: 140px;
  margin: 10px;
  border: 1px solid #000;
  cursor: pointer;
}

.card-composer {
  font-size: 17px;
  color: #232323;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
}

.card-work {
  font-weight: 600;
  font-size: 15px;
  color: rgb(83, 82, 82);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1rem;
  -webkit-line-clamp: 3;
}
.card-artists {
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
  color: rgb(189, 30, 117);
  position: absolute;
  top: 70px;
}
.cardFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.cardBottom {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.card-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
