a {
  text-decoration: none;
  color: #000;
}
main {
  min-height: 83vh;
}

main {
  width: 100vw;
  padding: 10px 20px;
  background-color: #efefef;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("music_score.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0 auto;
}
.searchForm {
  position: relative;
  width: auto;
  text-align: center;
  right: 35px;
}
.searchForm input {
  width: 100%;
  padding: 5px;
  border-radius: 12px;
  outline: none;
}
.searchForm button {
  position: absolute;
  top: 5px;
  right: 20px;
  background: transparent;
  border: none;
}
@media (max-width: 991px) {
  .searchForm {
    right: 0;
  }
}

.dropdown-item.active {
  color: #fff;
  background-color: #000;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #000;
}

/* Home page */
.homePageTitle {
  margin-top: 200px;
}
.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.links2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.btn {
  font-weight: bold;
}
.btn-link {
  border: 1px solid white;
  background: #000;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 2rem;
  transition: 0.5s ease-in-out;
}
.btn-link:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
.btn-link2 {
  border: 1px solid white;
  background: #000;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  width: 150px;
  border-radius: 2rem;
  transition: 0.5s ease-in-out;
}
.btn-link2:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
.activeMedia {
  background: lightgray;
  color: #000;
  border: 1px solid #000;
}

.mainTitle {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  text-shadow: 4px 4px 8px #000;
  animation: slideInFromLeft 2s ease-in;
}
.mainSubtitle {
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  text-shadow: 4px 4px 10px #000;
  animation: slideInFromRight 2s ease-in;
}
/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Pagination */
.page-link {
  color: #000;
  font-weight: 600;
}
.page-link.active,
.active > .page-link {
  font-weight: 600;
  background-color: #000;
  border-color: #000;
}
.loginForm,
.registerForm {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
}
.loginForm {
  margin-top: 100px;
}
.registerForm {
  margin-top: 75px;
}
.profileForm {
  margin-top: 75px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
}
.propertyList {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
}
.formRow {
  display: flex;
  align-items: center;
}
.labelTop {
  width: 10%;
  margin-top: 0.5rem;
  font-weight: 600;
}
.labelName {
  width: 25%;
  margin-top: 0.5rem;
  font-weight: 600;
}
.imageInputs {
  display: flex;
  align-items: center;
  width: 75%;
}
.imageLeft,
.imageRight {
  width: 50%;
}

.performanceDetail {
  background: #fff;
  padding: 20px 20px 50px 20px;
  margin-top: 100px;
  border-radius: 10px;
}
.recordingDetail {
  background: #fff;
  padding: 20px 20px 50px 20px;
  margin-top: 50px;
  border-radius: 10px;
}
.card-body {
  flex: 1 1 auto;
  padding: 4px;
  color: var(--bs-card-color);
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  /* justify-content: center; */
  align-items: center;
}

table td,
table th {
  text-align: center;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.sidebar {
  width: 250px;
  flex: 0 0 250px;
  height: 100vh;
  background: #000;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  border-radius: 10px;
}
.searchParams {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100vh;
  background: #000;
  padding: 1rem;
  border-radius: 10px;
}
.searchParams input[type="text"] {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  outline: none;
}
.searchParams input[type="radio"] {
  transform: scale(1.25);
}
.searchBox {
  border-radius: 10px;
  outline: none;
  margin-right: 20px;
  width: 80%;
}

.checkboxLabel {
  font-size: 18px;
}
.searchParams button {
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}
.recordingList,
.performanceList {
  flex: 1;
  margin-left: 30px;
  height: 100%;
  /* background: #fff; */
  background-color: rgb(233, 238, 233);
  color: #000;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
}

.searchResults {
  flex: 1;
  height: 100%;
  background-color: rgb(233, 238, 233);
  color: #000;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
}
.searchResultCard {
  position: relative;
  width: 290px;
  height: 235px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
}
.searchPerfCard {
  position: relative;
  width: 325px;
  height: 170px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
}
.composer {
  font-weight: 700;
  font-size: 16px;
  color: #232323;
}
.composition {
  font-weight: 600;
  font-size: 14px;
  color: rgb(83, 82, 82);
}
.artists {
  position: absolute;
  top: 190px;
  font-weight: 600;
  font-size: 13px;
  color: rgb(189, 30, 117);
}
.media {
  position: absolute;
  bottom: 0;
  left: 5px;
  color: rgb(126, 3, 70);
  font-weight: 700;
}
.category {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: rgb(126, 3, 70);
  font-weight: 700;
}
.perf-artists {
  position: absolute;
  top: 80px;
  font-weight: 600;
  font-size: 13px;
  color: rgb(189, 30, 117);
}
.showMore {
  font-size: 18px;
  color: rgb(21, 128, 61);
}
.showMore:hover {
  color: rgb(21, 128, 61);
  text-decoration: underline;
}
.borderWhite {
  border: 1px solid #fff;
}
