main {
  min-height: 83vh;
}

main {
  width: 100vw;
  padding: 10px 20px;
  background-color: #efefef;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("music_score.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0 auto;
}

/* Home page */
/* .homePage {
  padding-top: 250px;
} */
.homePageTitle {
  margin-top: 200px;
}
.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.links2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.btn-link {
  border: 1px solid white;
  background: #000;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 2rem;
  transition: 0.5s ease-in-out;
}
.btn-link:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
.btn-link2 {
  border: 1px solid white;
  background: #000;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  width: 150px;
  border-radius: 2rem;
  transition: 0.5s ease-in-out;
}
.btn-link2:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.mainTitle {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  text-shadow: 4px 4px 8px #000;
  animation: slideInFromLeft 2s ease-in;
}
.mainSubtitle {
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  text-shadow: 4px 4px 10px #000;
  animation: slideInFromRight 2s ease-in;
}
/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
.performanceDetail {
  background: #fff;
  padding: 20px 20px 50px 20px;
  margin-top: 100px;
  border-radius: 10px;
}
.recordingDetail {
  background: #fff;
  padding: 20px 20px 50px 20px;
  margin-top: 50px;
  border-radius: 10px;
}
.card-body {
  flex: 1 1 auto;
  padding: 4px;
  color: var(--bs-card-color);
}

table td,
table th {
  text-align: center;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
